<HTML>
  <HEAD>
    <TITLE>test download</TITLE>
  </HEAD>
  <BODY>    
    <%= image_tag("/img/#{params[:title]}.png") %><br>
    <%= link_to "download pdf", :action=> "convert", id: @pic.id %><br>
    <%= link_to "contents page", :action=> "img_show", userid: params[:userid] %>
  </BODY>
  
</HTML>
